:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-tx-bg-color: #ffffff;
  --second-bg-color: #f5f4fa;
  --primary-logo-color: #000000;
  --contacts-footer: rgba(255, 255, 255, 0.6);
  --bgr-color-dark: #2f303a;
  --hero-btn-hover-focus: #188ce8;
}

body {
  background-color: var(--primary-white-tx-bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin: 0 auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 215px;
  padding-right: 215px;
}

/* logo header and footer*/
.logo-link {
  margin-right: 93px;
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}

.footer-logo-text {
  color: var(--primary-white-tx-bg-color);
  font-size: 26px;
}

.logo-text {
  color: var(--primary-text-color);
  font-size: 26px;
}

/* Site nav */
.site-nav {
  display: flex;
}

.site-nav-list,
.auth-nav-list,
.contacts {
  list-style: none;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link {
  color: var(--primary-text-color);
  font-size: 14px;
}

/* auth-nav*/
.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav-link {
  color: var(--second-text-color);
  font-size: 14px;
  margin-left: 50px;
}

.site-nav-link:hover,
.site-nav-link:focus,
.auth-nav-link:hover,
.auth-nav-link:focus,
.site-nav-list .site-nav-link.current,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.site-nav-link,
.auth-nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* hero*/

.hero,
.footer {
  background-color: var(--bgr-color-dark);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  color: var(--primary-white-tx-bg-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

/* hero button*/
.hero-button {
  padding: 10px 32px;
  display: block;
  min-width: 200px;
  margin: auto;

  color: var(--primary-white-tx-bg-color);
  background-color: var(--accent-color);

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-btn-hover-focus);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-filters .portfolio-btn.current {
  color: var(--primary-white-tx-bg-color);
  background-color: var(--accent-color);
}

/* benefits*/
.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-page,
.footer-title {
  display: none;
}

.benefits-list,
.activity-list,
.team-list {
  list-style: none;
}

.benefits-list {
  display: flex;
}

.benefits-list .benefit.li:not(:last-child) {
  margin-right: 30px;
}

.benefits-items {
  color: var(--second-text-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* activity title and team title */
.activity-section {
  padding-top: 0px;
}

.activity-title,
.team-title {
  text-align: center;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.activity-list {
  display: flex;
}

.activity-item {
  justify-content: center;
}

.activity-item:not(:last-child) {
  margin-right: 30px;
}

/* team */
.team-section {
  background-color: var(--second-bg-color);

  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-card {
  padding: 30px;
}

.team-list > .team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  background: #ffffff;
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item {
  justify-content: center;
}

.team-position {
  margin-top: 10px;
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

/* portfolio button*/

.portfolio-filters {
  padding-left: 179px;
  padding-right: 251px;
  padding-bottom: 102px;
}

.portfolio-title {
  display: none;
}
.portfolio-list {
  display: flex;
  min-width: 611px;
  align-items: center;
  list-style: none;
  padding-top: 183px;
  padding-left: 459px;
  padding-right: 530px;
  justify-content: center;
  margin-bottom: 34px;
}

.portfolio-btn {
  padding: 6px 22px;
  display: inline-block;
  min-width: 130px;

  background-color: var(--second-bg-color);

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.portfolio-btn {
  margin-right: 8px;
}

/* work*/
.work-set {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.work-set > .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
}

.work-card {
  padding: 20px 24px;
}
.work-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.work-platform {
  margin-top: 4px;

  color: var(--second-text-color);

  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
}

/* footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  margin-bottom: 20px;
  display: block;
}

.contacts .item:not(:last-child) {
  margin-bottom: 9px;
}
.contacts-address {
  color: var(--primary-white-tx-bg-color);

  font-size: 14px;
}

.contacts-link {
  color: var(--contacts-footer);

  font-size: 14px;
}

.contacts-address,
.contacts-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
}
